	*{
	}
	body{
		margin:0;
		padding:0;
		font-size:12px;
		font-family:"Microsoft YaHei", "微软雅黑", "Microsoft JhengHei", "华文细黑";
		background:-webkit-linear-gradient(#ebf5fd,#8dc3ec);
	}
	ul{
		list-style-type:none;
		margin:0;
		padding:0;
	}
	a{
		text-decoration:none;
		color:#333333;
	}
	.table th, .table td {
    	text-align: center;
	}
	.resource{
		border:1px #84bdea solid!important;
		background:-webkit-linear-gradient(#ffffff,#cce3f5)!important;
		-moz-box-shadow:0px 0px 5px #7fbff2!important;              
    	-webkit-box-shadow:0px 0px 5px #7fbff2!important;
		box-shadow:0px 0px 5px #7fbff2!important;
	}
	.items{
		width:960px;
		border:1px #b3d4e9 solid;
		padding:10px 10px;
		overflow:hidden;
		margin:20px auto;
		background-color:#fefdfd;
		-moz-border-radius:6px; 
		-webkit-border-radius:6px;
		border-radius:6px;
		-moz-box-shadow:0px 0px 5px #aed3f0;              
    	-webkit-box-shadow:0px 0px 5px #aed3f0;
		box-shadow:0px 0px 5px #aed3f0;
		min-height:100px;
		padding-bottom:20px;
		padding-top:20px;
		background:-webkit-linear-gradient(#e9f3fc,#b4d8f3);
		border-bottom:none; 
	}
	.items .showlist .title{
		line-height:41px;
		height:41px;
		margin-bottom:5px;
		text-indent:10px;
		font-size:18px;
	}
	.items .showlist .list ul li{
		float:left;
		line-height:31px;
		height:31px;
		margin:10px 14px;
		-moz-border-radius: 4px; 
		-webkit-border-radius: 4px;
		border-radius:4px;
		padding:0 20px;
		border:1px #dbd3d3 solid;
		background:-webkit-linear-gradient(#fdfcfc,#f7f2f2);  
		-moz-box-shadow:0px 0px 5px #eee inset;              
    	-webkit-box-shadow:0px 0px 5px #eee inset;
		box-shadow:0px 0px 5px #eee inset; 
		font-family:"Microsoft YaHei", "微软雅黑", "Microsoft JhengHei", "华文细黑";
		-moz-box-shadow:0px 0px 5px #ddd;              
    	-webkit-box-shadow:0px 0px 5px #ddd;
		box-shadow:0px 0px 5px #ddd;
		cursor:pointer;
		font-size:14px;
		color:#333333;
	}
	.items .showlist .list ul li:hover{
		-moz-box-shadow:0px 0px 5px #c6c4c4;              
    	-webkit-box-shadow:0px 0px 5px #c6c4c4;
		box-shadow:0px 0px 5px #c6c4c4;
		background:-webkit-linear-gradient(#ffffff,#fcfafa);  
		color:red;
	}
	.header{
		width:100%;
		height:60px;
		line-height:60px;
		background:-webkit-linear-gradient(#42b3e5,#2b9fd2);
		border-bottom:1px #2584c4 solid;
	}
	.forum{
		width:280px;
		float:left;
		margin:0 20px 0 10px;
		border:1px #b1d2ec solid;
		border-bottom:none;
		-moz-border-radius: 4px 4px 0 0; 
		-webkit-border-radius: 4px 4px 0 0;
		border-radius: 4px 4px 0 0;
		background:-webkit-linear-gradient(#ffffff,#b8daf4);
		-moz-box-shadow:0px 0px 5px #b7d7ef;              
    	-webkit-box-shadow:0px 0px 5px #b7d7ef;
		box-shadow:0px 0px 5px #b7d7ef;
	}
	.forum .title{
		height:35px;
		line-height:35px;
		font-size:16px;
		text-indent:20px;
		font-family:"Microsoft YaHei", "微软雅黑", "Microsoft JhengHei", "华文细黑";
		margin-bottom:5px;
		color:#666699;
		padding:10px 0;
	}
	.forum .infolist .list ul li {
		line-height:31px;
		height:31px;
		text-indent:10px;
		font-family:"Microsoft YaHei", "微软雅黑", "Microsoft JhengHei", "华文细黑";
	}
	.forum .infolist .list ul li em{
		font-style:normal;
		color:#999999;
		margin-right:5px;
	}
	.forum .infolist .list ul li a{
	}
	.body{
	}
	.manage{
		width:300px;
	}
	.manageinfo{
		height:210px;
		-moz-border-radius: 4px; 
		-webkit-border-radius: 4px;
		border-radius:4px;
		padding:0px 20px;
		font-size:14px;
	}
	.manageinfo .info{
		line-height:31px;
		height:31px;
		margin-bottom:0px;
		
	}
	.manageinfo .controller .list{
		width:100%;
		display:block;
		overflow:hidden;
	}
	.line{
		padding-bottom:8px;
		margin:8px 0;
	}
	.manageinfo .controller .list ul li{
		float:left;
		width:130px;
		line-height:31px;
	}
	