@CHARSET "UTF-8";
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video ,p,h1,h2,h3,h4,h5{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
h2,h3{
	text-align: center;
}
body{
	background: #0ca3d2;
}
.container{
	width: 71%;
	margin: 20px auto;
	border: 1px solid #cacaca;
	border-radius: 12px;
	padding:10px;
	color: #696969;
	background: #f0f1f2;
}
.footer{
	text-align: center;
	width: 100%;
}
/* xt add */

.container{
    width: 92%;
}

.ruleTit{
    font-size: .52rem;
    font-weight: 600;
    border-bottom: 1px solid #747474;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: #464646;
}

.container h4{
        color: #464646;
        font-size: .45rem;    
        font-weight: 600;
}

.container p{
    padding-bottom: .2rem;
    font-size: .5rem;
    line-height: .75rem;
}